.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 350px;
    height: 300px;
    float: left;
    margin: 13px;
}
.card header{
    height: 25%;
}
.card footer {
    height: 15%;
}
.content {
    height: 60%;
}
.black {
    color: #fff !important;
    background-color: #000 !important
}
.container {
    padding: 0.01em 16px;
    text-align: justify;
}
