.sourcebar {
    float:left;
    white-space: nowrap;
    overflow: hidden;
}
.sourcelink, .sourcebarbutton {
    display: inline-block !important;
    padding: 0 !important;
    font-size: 17px !important;
}

.sourcelink {
    width: 100px;
    position: relative;
    top: -4px;
}
.sourcebarbutton {
    font-size: 30px !important;
    width: 39px;
    text-align: center;
}
