@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/sidenav.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/accordion.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/sourcebar.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/card.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/form.css" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>   

@{ Html.RenderAction("Menu", "Nav"); }
    
<div id="main">
    @RenderBody()
</div>

<script>

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            this.nextElementSibling.classList.toggle("show");
        }
    }
</script>

</body>
</html>
