@model AspNet_RssReader_WebUI.ViewModels.ArticlesListViewModel

@foreach (var article in Model.ArticleViewModels)
{
    <div class="item">
        <h1>@article.Title</h1>
        <p class="info">@article.SourceName</p>
        <p class="description">@article.Description</p>
        <p class="date">@article.PublicationTime</p>
        <p class="save">save</p>
    </div>
}