@model AspNet_RssReader_WebUI.ViewModels.ArticlesListViewModel

@foreach (var article in Model.ArticleViewModels)
{
    <div class="card">
        <header class="container black">
            <h4>@article.Title</h4>
        </header>

        <div class="container content">
            <p>@article.Description</p>
        </div>

        <footer class="container black">
            <h5>@article.SourceName / @article.PublicationTime</h5>
        </footer>
    </div>       
}