@model AspNet_RssReader_WebUI.ViewModels.CreateCategoryViewModel

@{
    ViewBag.Title = "Create category";
}

<h3>Create new category</h3>
@using (Html.BeginForm("Create", "Category", FormMethod.Post, new {role = "form"}))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.Name)
        <div>
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div>
        <input type="submit" value="Create"/>
    </div>
}


