@model AspNet_RssReader_WebUI.ViewModels.DeleteCategoryViewModel
<h1>Delete category</h1>
<label>Are you sure do you want to delete @Model.Name ?</label>
@using (Ajax.BeginForm("Delete", "Category",
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "modal-content",
                                            HttpMethod = "POST",
                                            InsertionMode = InsertionMode.Replace,
                                            OnComplete = "showModal()"
                                        }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.Id)
    <div>
        <input type="submit" value="Delete"/>
    </div>
}

