@model AspNet_RssReader_WebUI.ViewModels.SourcesListViewModel

<nav class="sidenav collapse theme-l5 animate-left" style="z-index:3;width:250px;margin-top:51px;" id="mySidenav">
    <a href="javascript:void(0)" onclick="w3_close()" class="right xlarge padding-large hover-black hide-large" title="close menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4><b>Menu</b></h4>
    @Html.ActionLink("Add new source", "AddNewSource", "Source",null, new {@class = "hover-black" })
    @(Model.CurrentSourceName == null ? Html.ActionLink("All", "List", "Article", null, new {@class = "hover-black active"}) : Html.ActionLink("All", "List", "Article", null, new {@class = "hover-black"}))
    @foreach (var source in Model.Sources)
    {
        if (source.Name == Model.CurrentSourceName)
        {
           @Html.RouteLink(source.Name,
            new
            {
                controller = "Article",
                action = "List",
                sourceName = source.Name
            },
            new
            {
                @class = "hover-black active"
            })
        }
        else
        {
            @Html.RouteLink(source.Name,
            new
            {
                controller = "Article",
                action = "List",
                sourceName = source.Name
            },
            new
            {
                @class = "hover-black"
            })
        }

    }
</nav>

<div class="overlay hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

