@model AspNet_RssReader_WebUI.ViewModels.DeleteSourceViewModel

@{
    ViewBag.Title = "Delete source";
}


    <h2>Delete source</h2>
    <p>Are you sure do you want to delete @Model.Name ?</p>
    @using (Html.BeginForm("DeleteSource", "Source", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(x=>x.Name)
        <div>
            <input name="sure" type="submit" value="Yes"/>
        </div>
        <div>
            <input name="sure" type="submit" value="No"/>
        </div>
    }

